html, body {
    height: 100%;
}

body {
    display: grid;
    text-align: center;
    place-items: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: white;
}

header {
    font-size: 36px;
    font-weight: bold;
}

#title {
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.row {
    display: flex;
}
    


.tile {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: black solid 1px;
    font-size: 2rem;
}